*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffd84d;
    min-height : 100vh;
    display : flex;
    align-items : center;
    justify-content : center;
}

.container{
    background: #fff;
    width : 80%;
    max-width :100px;
    display: flex;
    padding : 2rem;
    gap : 2rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.slider{
    width : 40%;
    height: 300px;
    background-size: cover;
    background-position: center;
    animation: slider 10s linear infinite ;
    border-radius: 10px;
}

@keyframes slider{
    0% {backgroud-image : url("img/1.jpg");}
    25% {backgroud-image : url("img/1.jpg");}
    50% {backgroud-image : url("img/1.jpg");}
    75% {backgroud-image : url("img/1.jpg");}
    100% {backgroud-image : url("img/1.jpg");}
}
/* Content */
.content {
  width: 60%;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #555;
  margin-bottom: 1.5rem;
}

.specs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.cart {
  background: #eee;
}

.checkout {
  background: #6c63ff;
  color: white;
}